body {
  background-color: beige;
}
h1 {
  color: blue;
  text-align: center;
}
.intro h2 {
  text-align: center;
}
.entry {
  width: 400px ;
  margin-left: auto ;
  margin-right: auto ;
}
.divider h2 {
  text-align: center;
}
.create {
  width: 400px ;
  margin-left: auto ;
  margin-right: auto ;
}
.container {
   background: url(https://images.app.goo.gl/RNk3ck16QiQi8PBFA) no-repeat center center;
   background-size: cover;
}
